@charset "UTF-8";

:root{
    --cor0:#5d9adb;
    --cor1:#EAEAEA;
    --cor2:#A6E1FA;
    --cor3:#1dbbc4;
    --cor4:#440938;

    --fonte-padrao: Arial, Helvetica, Verdana, sans-serif;
    --fonte-cabecalhos: 'Cabecalhos';
    --fonte-titulos: 'Titulos';
    --fonte-corpo: 'Subtitulos';
}

main > article > h2{
    color: #440938;
    background-image: linear-gradient(to right, #1dbcc431, transparent);
    padding: 10px;
    border-radius: 10px 0px;
    font-size: 2em;
    font-family: var(--fonte-corpo);
}

main > article > h3{
    color: var(--cor4);
    font-size: 1.1em;
}

div{
    background-color: rgba(128, 128, 128, 0.205);
    padding: 8px;
    position: relative;
    margin: 0px -20px;
}

div.video1{
    padding-bottom: 46%;
}

div.video1 > video{
    position: absolute;
    left: 10%;
    top: 3%;
    height: 93.8%;
    width: 80%;
}

div.video2{
    padding-bottom: 40%;
}

div.video2 > video{
    position: absolute;
    left: 7%;
    top: 7%;
    height: 85%;
    width: 86%;
}

div.video3{
    padding-bottom: 46%;
}

div.video3 > video{
    position: absolute;
    top: 13%;
    left: 8%;
    width: 81.8%;
    height: 71.6%;
}






